@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>CarGarageManager is a web app to manage cars for a car repair shop and/or dealership.<br>This web app is purely fictional and made to demonstrate the possibilities of ASP.NET Core + MVC + Razor Pages + EFCore.</p><p>Made by <a href="https://www.bartsimons.me" target="_blank">Bart Simons</a>.</p>
</div>
