<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3977ea06-ec2a-4d81-b6dd-613ea31c881d/resourceGroups/TestEnvironment/providers/Microsoft.Web/sites/CarGarageManager</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://cargaragemanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>cargaragemanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarGarageManager</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarGarageManager</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>